/* #2196F3 */
/* #212121 */

:root {
  --main-color-text: #212121;
  --accent-color: #2196f3;
  --second-color-text: #757575;
}

body {
  color: var(--main-color-text);
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
  color: var(--main-color-text);
}

ul {
  list-style: none;
}

/*шапка*/

.header {
  background-color: #ffffff;
}

.logo-link .logo-web {
  color: var(--accent-color);
}

.header .link:hover,
.header .link:focus {
  color: var(--accent-color);
}

.header .link-mail:hover,
.header .link-mail:focus {
  color: var(--accent-color);
}

.nav .link.current {
  color: var(--accent-color);
}

/*Главный контент страницы*/

/*Секция герой*/

.section-heroy .hero-title {
  color: #ffffff;
}

.button {
  color: #ffffff;
  background-color: var(--accent-color);
}

/*Наши преимущества*/

.section {
  background-color: #e5e5e5;
}

.section-title {
  color: var(--main-color-text);
}

.section-subtitle {
  color: var(--main-color-text);
}

.section-text {
  color: var(--second-color-text);
}

.work {
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

/*Cоц сети*/

.social-list .social-link {
  color: #ffffff;
}

.social-link:hover,
.social-link:focus {
  color: var(--accent-color);
}

/*Футер*/

.footer {
  background-color: #2f303a;
}

.address {
  color: #ffffff;
}

.logo-link .logo-studio {
  color: #ffffff;
}

.address .contact-address {
  color: rgba(255, 255, 255, 0.6);
}

.social {
  color: #ffffff;
}

.dbr {
  color: rgba(255, 255, 255, 0.4);
}
